@using Proniaaa.Models
@model Product
<div class="container">
    <form method="post" enctype="multipart/form-data">
    <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name"></span>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="file">Img file</label>
                <input asp-for="file" class="form-control">
                <span asp-validation-for="file"></span>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="Category">Category</label>
                <input asp-for="Category" class="form-control">
                <span asp-validation-for="Category"></span>
            </div>
    </div>
    <div class="row">
            <div class="form-group col-md-4">
            <label asp-for="Description">Designation</label>
            <input asp-for="Description" class="form-control">
                <span asp-validation-for="Description"></span>
    </div>
        </div>
        

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
